.loaderFrame {
    
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: cornsilk;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0.7;
    
}