.boardFrame{ 
    position: absolute;
    z-index: 101;
    display: flex;
    background-color: rgba(255, 244, 200, 0.9);
    width: 100%;
    height: 100%;
    padding: 20px;

    align-items: center;
    justify-content: center;
}
 
.cardH{
    color:white;
    font-size: 30px;
}

.boardForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;

    background-color: rgb(68, 76, 77);
    border-radius: 12px;
    width: 40%;
    height: 80%;
    opacity: 1;
}

.formInput {
    display: block;
    width: 400px;
    height: 30px;
    font-size: 20px;
}

.formInputDFesk {
    display: block;
    width: 400px;
    height: 120px;
    font-size: 20px;   
}

.formLabel {
    color:white;
    font-size: 20px;
}


.formButton{
    width: 200px;
    height: 35px;
    font-size: 24px;
    font-weight: 600;

    background-color: rgb(244, 201, 133);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}