.boardFrame{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px;
    box-shadow: 4px -2px 8px 4px rgb(255, 241, 241);
    border-radius: 4px;
}

.boardForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}

.formInput {
    display: block;
    width: 500px;
    height: 30px;
    font-size: 26px;
}


.formButton{

    width: 200px;
    height: 35px;
    font-size: 24px;
    font-weight: 600;

    background-color: rgb(244, 201, 133);
    border-radius: 4px;
    border: none;
    cursor: pointer;

}